@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url("https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Covered+By+Your+Grace");


body {
    background-color: #88d8f8;
    width: 500px;
    margin: auto;
    text-align: center;
    align-content: center;
    font-family: Iceland;
    font-weight: bolder;
}

.img-container {
    max-width: 500px;
    margin: 20PX 0 20PX 0;
}


#page-title {
    font-size: 100px;
    color: #228DFF;
    text-align: center;
    font-family: Iceland;
    width: 500px;
}

#page-title:hover {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

.clock-section {
    max-width: 500px
    /* left: auto; */
}


blockquote {
    font: 2em/1em 'Open Sans', sans-serif;
    -webkit-text-stroke: 1px black;
    text-shadow: 2px 2px #000;
    margin: -100px 0 100px 0;
    color: #fff;
    font-weight: bolder;
  }

blockquote:before { content: '"'; }
blockquote:after { content: '"'; }

.clock {
    background-color: rgb(127, 127, 179, 0.2);
    /* opacity: 80%; */
    border-radius: 50%;
    border-color: black;
    border-width: 20px;
    margin: auto;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    position: absolute;
    left: 5%;
}

.clock::after {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 5;
}

.clock .number {
    width: 200px;
    height: 200px;
    position: absolute;
    font-size: 15px;
    --rotation: 0deg;
    text-align: center;
    transform: rotate(var(--rotation));
    /* background-color: red; */
}

.clock .number1 { --rotation: 30deg;}
.clock .number2 { --rotation: 60deg;}
.clock .number3 { --rotation: 90deg;}
.clock .number4 { --rotation: 120deg;}
.clock .number5 { --rotation: 150deg;}
.clock .number6 { --rotation: 180deg;}
.clock .number7 { --rotation: 210deg;}
.clock .number8 { --rotation: 240deg;}
.clock .number9 { --rotation: 270deg;}
.clock .number10 { --rotation: 300deg;}
.clock .number11 { --rotation: 330deg;}

.clock .hand {
    --rotation: 0deg;
    bottom: 50%;
    left: 50%;
    position: absolute;
    margin: auto;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    transform-origin: bottom;
    transform: rotate(calc(var(--rotation) * 1deg));
    border: 1px solid white;
}

.clock .hand.hour {
    background-color: black;
    width: 7px;
    height: 35%;
    z-index: 1;

}

.clock .hand.minute {
    background-color: black;
    width: 5px;
    height: 40%;
    z-index: 2;
}

.clock .hand.second {
    background-color: red;
    width: 2px;
    height: 45%;
    z-index: 3;
}

.party-button {
    width: 200px;
    height: 30px;
    background-color: rgb(164, 164, 219);
    font-size: 20px;
    border-width: 3px;
    border-color: black;
    margin: 0 0 50px 0;
}

.party-button:hover {
    width: 200px;
    height: 30px;
    background-color: rgb(85, 85, 209);
    font-size: 20px;
    border-width: 3px;
    border-color: black;
    margin: 0 0 50px 0;
}

.party-button:active {
    width: 200px;
    height: 30px;
    background-color: rgb(221, 65, 26);
    font-size: 20px;
    border-width: 3px;
    border-color: black;
    margin: 0 0 50px 0;
}

@-webkit-keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }

@-moz-keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }

@keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }